#panel-pokemon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  gap: var(--spacing-4xl);

  width: 100%;
  height: 100%;
}
#panel-pokemon-izquierda {
  position: relative;

  width: 361px;
  height: 361px;
}

#panel-pokemon-derecha {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  gap: var(--spacing-l);

  width: 100%;
}

.panel-evoluciones {
  display: flex;
  flex-direction: row;
}

.panel-debilidades {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  gap: 15vw;

  width: 100%;
}

.subtitulo-panel-pokemon {
  font-family: "Pokemon-hollow", sans-serif;
  font-weight: 600;
  font-style: normal;
  letter-spacing: 5px;

  font-size: var(--font-size-mobile-display1);
}

@media (min-width: 1219px) {
  #panel-pokemon {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    gap: 0;
  }

  #panel-pokemon-izquierda {
    width: calc(40vw - 20px);
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #panel-pokemon-derecha {
    width: calc(60vw - 20px);
    height: 400px;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }
}
