#panel-pokemon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  gap: var(--spacing-4xl);

  width: 100%;
  height: 100%;
}
#panel-pokemon-izquierda {
  position: relative;

  width: 361px;
  height: 361px;
}

#panel-pokemon-derecha {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  gap: var(--spacing-l);

  width: 100%;
}

.descripcion-pokemon {
  font-family: "Kanit", sans-serif;
  font-weight: 400;
  font-style: normal;

  align-self: center;
  justify-self: center;
}

.panel-evoluciones {
  display: flex;
  flex-direction: row;
}

.panel-debilidades,
.panel-evoluciones {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  gap: 5vw;

  width: 100%;
  height: 50%;
}

.subtitulo-panel-pokemon {
  font-family: "Pokemon-hollow", sans-serif;
  font-weight: 600;
  font-style: normal;
  letter-spacing: 5px;

  font-size: var(--font-size-mobile-display1);
}

.panel-doble-daño,
.panel-mitad-daño,
.panel-no-daño {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}

.debilidades-subtitulo{
    font-family: "Kanit", sans-serif;
  font-weight: 600;
  font-style: normal;
}
.daño {
  border: 2px solid var(--color-brand-900);
  padding: var(--spacing-xs);
  border-radius: var(--radius-s);
}

.tipos-daño{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  
  gap: 5px;
  
}

@media (min-width: 1219px) {
  #panel-pokemon {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100%;
    gap: 1vw;
  }

  #panel-pokemon-izquierda {
    width: calc(30vw - 20px);
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #panel-pokemon-derecha {
    width: calc(65vw - 20px);
    height: 400px;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }
}
