@font-face {
  font-family: "Pokemon-solid";
  src: url("../fonts/Pokemon Solid.ttf") format("truetype");
}

@font-face {
  font-family: "Pokemon-hollow";
  src: url("../fonts/Pokemon Hollow.ttf") format("truetype");
}

@font-face {
  font-family: "Coolvetica";
  src: url("../fonts/Coolvetica Rg.otf") format("opentype");
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

title {
  display: none;
}

header {
  display: flex;
  background-color: #f5f4f5;
  justify-content: center;
  align-items: center;
  padding: 10px;
  max-height: 10%;
}

h1 {
  font-family: "Pokemon-solid", serif;
  text-align: center;
  font-size: clamp(1rem, 4vw, 2rem);
  padding-left: 10px;
  padding-right: 10px;
}

nav {
  display: flex;
  text-align: center;
}

footer {
  color: whitesmoke;
  padding: 1rem;
  text-align: center;
  background-color: black;
}

.nav-options {
  font-family: "Coolvetica", serif;
  background-color: whitesmoke;
  color: black;
  margin: 5px;
  padding: 5px;
  border-radius: 15%;
  font-size: clamp(1rem, 4vw, 2rem);
}

.nav-options:hover {
  border: black solid;
}

.pokemon-card {
  width: 30%;
  height: 50%;
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  justify-content: space-between;
}

.pokemon-card:hover {
  transform: scale(1.05);
}

.pokemon-card.fire {
  background-color: #ff6b6b;
}

.pokemon-card header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.pokemon-card img {
  position: absolute;
}

#logo-nav {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  align-items: center;
}

#pokeball-img {
  width: 15%;
  height: auto;
}

#start-image {
  width: 100%;
  max-width: 800px;
  height: auto;
}

#main-home {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

#main-search {
  flex: 2;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}

#buscador-div {
  margin: 1em;
  display: flex;
  background-color: #eaeaeb;
  height: 1.5em;
  width: 60%;
  border: #c3c1c4 solid 2px;
  padding-top: 0.1em;
  padding-left: 0.1em;
  column-gap: 0.5em;
}

#buscador-button {
  height: 1em;
  width: auto;
  justify-self: flex-start;
  background-image: url("../img/lupa.png");
}

#input-buscador {
  color: black;
  align-self: center;
  justify-self: center;
  width: 100%;
  size: 1em;
  background-color: transparent;
}

#resultado-div {
  display: flex;
  flex-direction: row;
  width: 75%;
  flex-wrap: wrap;
  justify-content: center;
}

@media (min-width: 800px) {

  #start-image {
    max-width: 1200px;
  }

  #pokeball-img {
  width: 82.06px;
  height: auto;
}
}
