@font-face {
  font-family: "Pokemon-solid";
  src: url("../fonts/Pokemon Solid.ttf") format("truetype");
}

@font-face {
  font-family: "Pokemon-hollow";
  src: url("../fonts/Pokemon Hollow.ttf") format("truetype");
}

@font-face {
  font-family: "Coolvetica";
  src: url("../fonts/Coolvetica Rg.otf") format("opentype");
}

*{
    box-sizing: border-box;
    display: grid;
    grid-template-areas: "header" "body" "footer";
}

title {
    display: none;
}

header{
    grid-area: header;
    display: flex;
    background-color: #f5f4f5;
    align-content: space-around;
    justify-content: space-around;
    align-items: center;
}

h1{
    font-family: "Pokemon-solid", serif;
    text-align: center;
    font-size: 50px;
    padding-left: 10px;
    padding-right: 10px;
}

nav{
    display: flex;
}

footer{
    grid-area: footer;
    color: whitesmoke;
    padding: 1rem;
    text-align: center;
}


.nav-options{
    font-family: "Coolvetica", serif;
    background-color: whitesmoke;
    color: black;
    margin: 5px;
    padding: 5px;
    border-radius: 15%;
}

.nav-options:hover{
    border: black solid;
}

.start-visual{

}

#logo-header{

}
